html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Rubik', sans-serif;
}

.footer-bottom {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #63676b;
  margin-top: 60px !important;
}

.navbar-toggler {
  padding-top: .25em !important;
  padding-bottom: .25em !important;
  height: 40px;
  width: 48px;
}

.navbar-inverse .navbar-toggler {
    border-color: rgba(0,0,0,0) !important;
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.MockupForm {
  padding-top: 60px;
}

#mockupSchoolLogo {
  height: 150px;
  width: 150px;
}

#home {
  padding-top: 10em;
}

#navbarMain{
  background-color: #2E3192;
}

#navbarContent{
  float: right;
  width: auto;
  margin: auto;
}

#logo {
  height: 60px;
  width: 275px;
  margin: auto;
}

#smalllogo {
  height: 40px;
  width: 48px;
  margin: auto;
}


#schoolLogo {
  height: 250px;
  width: 250px;
  margin: auto;
}

#sportlist {
  margin:auto;
}




/*#jumboHome {
  background: url("./../images/football-field.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}*/
