#navbarMain{
  background-color: #2E3192;
}

#navbarContent{
  float: right;
  width: 600px;
  margin: auto;
}

#logo {
  height: 60px;
  width: 275px;
  margin: auto;
}

#smalllogo {
  height: 60px;
  width: 60px;
  margin: auto;
}


#schoolLogo {
  height: 250px;
  width: 250px;
  margin: auto;
}

#nav-item {
  padding: 5px 5px;
  margin: 10px 10px;
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}

body {
  font-family: 'Rubik', sans-serif;
}

/*#jumboHome {
  background: url("./../images/football-field.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}*/
